@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");

    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");

    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}    
@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}    
body{
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #242424;
    background-color: #ffffff;
}
.page-header{
    background: #ffffff;
    color: black;
}
.navigation-link{
    font-size: 20px;
    line-height: 26px;
    color: black;
    background-color: #ffffff; 
    font-weight: 700;
    text-decoration: none;
}
.advantages{
    text-align: center;
}
.advatages-title{
    background-color: #ffffff;
    color: #000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.advantages-description{
    background-color: #ffffff;
    color: #000;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;  
}
.advantages-block{
    counter-reset: #ffffff;
    background-color: #83B3D3;
    
}
