@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color: #FFFFFF
}

.navigation {
  width: 1060px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.navigation-logo {
  margin-left: 70px;
  margin-right: 30px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 580px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 370px;
  margin-left: auto;
  margin-right: 70px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.page-header {
  background: #FFFFFF;
  color: black;
  margin: 0;

}

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url(../images/background-header.jpg);
}

.page-main-text {
  display: block;
  margin: 0 auto;
}

.divider {
  background: #ffffff;
  color: #000000;
  width: 1200px;
  text-align: center;
  margin: 0;

}

.divider-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.divider-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.advices-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advices-item {
  width: 400px;
  height: 384px;
  background-color: #83B3D31F;
}

.photo-town,
.photo-bridge {
  width: 800px;
}

.advices-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

}

.blue {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-title {
  text-transform: uppercase;
}

.advices-text {
  color: #333333;
  font-weight: 400;
  line-height: 21px;
  font-size: 18px;
}

.advices-item-eat {
  background-color: #FFFFFF;
}

.advices-item-road {
  background-color: #e6f0f6;
}


.hotel-search {
  background-color: #FFFFFF;
  color: #000;
  text-align: center;
  font-style: normal;
  width: 1200px;
  height: 417px;
  margin: 0 auto 30px;
  padding-top: 90px;
}

.hotel-intro {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search-text {
  background-color: #FFFFFF;
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.search-hotel {
  color: #FFFFFF;
  background-color: #756257;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}


.newsletter {
  color: #FFFFFF;
  background-color: #000;
  text-align: center;
  background-image: url(../images/email.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: auto;
  text-align: center;
  padding: 94px 200px;

}

.subscribe-inner {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: auto;
  text-align: center;
  padding: 94px 200px;

}

.newsletter-header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.newsletter-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}


.page-footer-container {
  display: flex;
  margin: 0 auto;
  width: 1060px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
}

.social {
  max-width: 155px;
}

.footer-social-list {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.social-link {
  display: block;
  min-width: 47px;
  min-height: 40px;
}

.footer-contacts-address-phone {
  color: #000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.page-footer .htmlacademy-link {
  color: #000;
}

.about-text {
  width: 115px;
}

.navigation-item-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
}

.filter-container {
  background-image: url(../images/header-catalog.jpg);
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: #ffffff;

}

.ilter-content-container {
  display: flex;
}

.filter-content-container {
  display: flex;
  margin-left: 71px;
}

.sort-container {
  display: flex;
  margin-bottom: 55px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  margin-left: 73px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-left: 71px;
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
}

.catalog {
  background: #ffffff;
  color: #000000;
  margin: 0 auto;
  width: 1060px;
}


.result-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  background-color: #FFFFFF;
  text-transform: uppercase;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

.hotel-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background-color: #FFFFFF;
  color: #333333;
}

.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background-color: #FFFFFF;
  color: #333333;
}

.hotel-card-button-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
}

.hotel-card-button-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.hotel-card-button-infavorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #7DB54F;
}

.hotel-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}

.pagination-container {
  display: flex;
  width: 1056px;
}

.select-hoslets-in-page {
  margin-left: auto;
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.hotel-page {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
}
.newsletter{

}


.newsletter-catalog {
  background-color: #FFFFFF;
  text-align: center;
}

.newsletter-catalog-subscribe {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.newsletter-catalog-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.newsletter-button {
  background-color: #83B3D3;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.newsletter-catalog-button {
  background-color: #83B3D3;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}
